.background {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center top;
  position: absolute;
  filter: blur(1px);
  z-index: 0;
}

.app {
  height: 100vh;
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;

  &-button {
    font-size: 1rem;
    margin: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}

.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.form {
  width: 30vw;
  height: 40px;
  display: flex;
  justify-content: center;

  &-input {
    opacity: 0.8;
    padding: 5px 10px;
    font-size: 1rem;
    margin-right: 5px;
    height: 100%;
    width: 100%;
  }

  &-submit {
    border: 0;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.result {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today {
  &-group {
    display: flex;
    &_temp {
      display: flex;
      align-items: center;
    }
  }
}

.hourly {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-title {
    margin: 20px 0;
    border-bottom: 1px solid black;
  }

  &-forecast {
    display: flex;
    justify-content: space-between;
  }
}

.daily {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-title {
    margin: 20px 0;
    border-bottom: 1px solid black;
  }

  &-group {
    display: flex;
    justify-content: space-between;

    &_day {
      width: 60px;
    }
  }
}
